extends layout
block content
  script.
    var collectionId = !{collection.id};
  article(style='background-color: #'+collection.color)
    img(src=url.img+'collections/'+collection.id+'.svg')
    h2= collection.name
    h3= collection.description
    a(href=collection.website, target='_blank')= collection.website
    if collection.user
      div!= 'by <a href="users/' + collection.user.username + '">' + collection.user.username + '</a>'
    
    div(id='modules')
      if collection.modules.length
        ul
          for module in collection.modules
            li
              a(data-id=module.id, data-description=module.description, data-module=collection.name, data-name=module.name, data-repository=module.repository, href=url.hub+collection.name+'/'+module.name)
                span(class='name')= module.name
                span(class='description')= module.description
                span(class='user')= 'by ' + module.username
          li
            a(href='#', onclick='return addModule(this)')
              span(class='name') +
              span(class='description') Contribute to This Collection
              span(class='user') &nbsp;
      else
        p!= '<b>' + collection.name + '</b> has no modules. <a href="modules/add" onclick="return addModule(this)">Click here</a> to add one.'
    
    a(class='heart' + (collection.favorite ? ' selected' : ''), href='collections/'+collection.name+'/favorite', onclick='return addFavorite(this)', style='color: #' + collection.color)= collection.favorites
    a(class='next', href='collections/'+collection.name+'/modules', style='color: #' + collection.color)= collection.modules.length
    a(class='rating', href='collections/'+collection.name+'/rating', style='color: #' + collection.color)= collection.rating ? collection.rating : '-'