extends layout
block content
  aside
    h2 Install
    code= 'crystal install ' + name
    h2 Latest Release
    p= 'version ' + version
    p
      | published by 
      a(href='/user/' + user, title=user + "'s Profile")= user
    p= versions + ' releases total'
    if repository_url
      h2 Repository
      p
        a(href=repository_url, target='_blank', title='"' + repository_name + '" Repository')= repository_name
  article
    h1= name
    div!= description