header
  a(class='logo', href=url.web, title='Crystal Homepage')
    img(src='images/crystal-logo-icon.svg')
  a(class='menu', href='menu', 'Menu')
    img(src='images/menu.svg')
  if avatar
    a(class='user', href=url.web+'user', title='My Account')
      img(src=avatar + '?s=50')
  else
    a(class='signup', href=url.web+'signup', title='Crystal Login (or Sign Up)') Sign Up
    a(class='login', href=url.web+'login', title='Crystal Login (or Sign Up)') Login
  nav
    a(class='editor' + (title == 'Editor | Crystal' ? ' selected' : ''), href=url.web+'editor', title='Crystal Editor') Editor
    a(class='download' + (title == 'Download | Crystal' ? ' selected' : ''), href=url.web+'download', title='Download Crystal') Download
    a(class='hub' + (title == 'Search Crystal' ? ' selected' : ''), href=url.hub, title='Crystal Hub') Crystal Hub
    a(class='support' + (title == 'Support | Crystal' ? ' selected' : ''), href=url.web+'support', title='Crystal Support') Support