doctype html
html
  head
    base(href='/')
    title= title
    script(src='/scripts/prettify.js')
    script(src='/scripts/lang-yaml.js')
    script(src='http://code.jquery.com/jquery-2.1.3.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenLite.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/jquery.gsap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/plugins/CSSPlugin.min.js')
    script(src='https://platform.venmo.com/sdk.js')
    script(src='https://sdk.amazonaws.com/js/aws-sdk-2.1.32.min.js')
    script(src='/scripts/main.js')
    if scripts
      each script in scripts
        script(src=script)
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700')
    link(rel='stylesheet', href='/styles/prettify.css')
    link(rel='stylesheet', href='/styles/main.css')
    link(rel='stylesheet', href='/styles/header.css')
    link(rel='stylesheet', href='/styles/footer.css')
    if styles
      each style in styles
        link(rel='stylesheet', href=style)
    meta(name='description', content='Crystal is an open-source platform for automated code generation, versioning, licensing, security & deployment of popular languages and frameworks.')
    meta(name='keywords', content='code generator, code generation, nodejs, php, ruby, javascript, coffeescript, html5, go, golang, python, java, scala, erlang, mysql, postgresql, mongo, redis, couchdb, swift, objective-c, android')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui, user-scalable=no, width=device-width')
    meta(charset='utf-8')
  body
    include ./header.jade
    section
      block content
    include ./footer.jade
    include ./google.html