extends layout
block content
  h2
    a(class='icon', href='collections/'+collection.name)
      img(src=image_url+'collections/'+collection.id+'.svg')
    span!= '<a href="collections/' + collection.name + '">' + collection.name + '</a>' + '/' + '<a href="modules/' + collection.name + '/' + module.name + '">' + module.name + '</a>'
    //a(href='modules/'+collection.name+'.'+module.name+'/releases', onclick='return changeRelease()') master
  nav
    ul(id='tabs')
      li
        a(class='selected', href='#readme', onclick='return loadReadme(this)') README
      li
        a(href='#license', onclick='return loadLicnese(this)') LICENSE
      li
        a(href='#authors', onclick='return loadAuthors(this)') AUTHORS
      li
        a(href='#config', onclick='return loadConfig(this)') CONFIG
  aside
    h3 Install
    code= 'crystal install ' + collection.name + '/' + module.name
    br
    br
    h3 Contributors
    if contributors
      ul
        for contributor in contributors
          li= contributor.name
    else
      p There are no contributors.
    h3 Exports
    if exports
      each export_data, export_name in exports
        div= export_name
    else
      p There are no exports.
    h3 Repository
    p
      a(href='https://github.com/'+repository.path, target='_blank')
        img(class='icon', src='images/repo-github.svg')
        span= repository.path
  article(id='readme')
  article(id='config')
  article(id='license')
  article(id='authors')