extends layout
block content
  h2
    span= name
    a(href='#') master
  p
    a(href=repository, target='_blank')= repository
  h3 exports
  if exports
    each export_data, export_name in exports
      div= export_name
  else
    p There are no exports.
  p!= readme
  pre= config