extends layout
block content
  h2
    span= name
    a(href='#') master
  nav
    ul
      li
        a(href='#readme') README
      li
        a(href='#license') LICENSE
      li
        a(href='#authors') AUTHORS
      li
        a(href='#config') CONFIG
  aside
    h3 Repository
    if repository
      p
        a(href=repository.url, target='_blank')
          img(class='icon', src='images/repo-github.svg')
          span= repository.path
    else
      p This module does not have a repo.
    h3 Exports
    if exports
      each export_data, export_name in exports
        div= export_name
    else
      p There are no exports.
  article(id='readme')
    p!= readme
  article(id='config')
    pre= config
  article(id='license')
    p!= license
  article(id='authors')
    p= authors