extends layout
block content
  aside
    h2
      span= user.username
      if user.name
        span= ' (' + user.name + ')'
    img(class='image', src=user.avatar + '?s=500')
    ul
      if user.company
        li
          img(class='icon', src='/images/company.svg')
          span(class='label')= user.company
      if user.location
        li
          img(class='icon', src='/images/location.svg')
          span(class='label')= user.location
      if user.website
        li
          img(class='icon', src='/images/website.svg')
          a(class='label', href=user.website, target='_blank')= user.website
  article
    h3 Accounts
    ul(id='accounts')
      if user.accounts
        for a in user.accounts
          li(class='github')
            a(href='https://github.com/'+a.login, target='_blank')= a.login
      else
        div No accounts exist.
      li
        a(class='add', onclick='return addAccount()', href='accounts/add')
    h3 Collections
    ul(id='collections')
      if user.collections
        for c in user.collections
          li(data-id=c.id, data-color=c.color, data-description=c.description, data-name=c.name, onmouseenter='this.style.backgroundColor = "#' + c.color + '"', onmouseleave='this.style.backgroundColor = "#FFF"', style='border: 10px #' + c.color + ' solid; background-image: url(' + image_url + 'collections/' + c.id + '.svg)')
            a(class='view', href='collections/'+c.name)
            a(class='edit', href='#', onclick='return editCollection($(this).parent()[0])')
            a(class='delete', href='#', onclick='return deleteCollection($(this).parent().data("id"))')
      else
        div No collections exist.
      li
        a(class='add', onclick='return addCollection()', href='collections/add')
    h3 Modules
    div(id='modules')
      if user.modules
        for m in user.modules
          a(href='modules/'+m.name, onclick='return editModule(this)', style='background-color: #' + m.color)
            span= m.name
      else
        div No modules exist.
      li
        a(class='add', onclick='return addModule()', href='modules/add')