extends layout
block content
  aside
    img(src=avatar + '?s=200')
    h2
      span= username
      if name
        span= ' (' + name + ')'
    if company
      p= 'Company: ' + company
    if location
      p= 'Location: ' + location
    if url
      p
        span URL: 
        a(href=url, target='_blank')= url
  article
    h3 Accounts
    div(id='accounts')
      if accounts
        for a in accounts
          a(href='https://github.com/'+a.login, target='_blank')
            img(height=16, src='/images/github-account.svg')
            span= a.login
      else
        div No accounts exist.
      a(class='add', onclick='return addAccount()', href='accounts/add')
        span +
    h3 Collections
    div(id='collections')
      if collections
        for c in collections
          a(data-id=c.id, data-color=c.color, data-name=c.name, href='collections/'+c.name, onclick='return editCollection(this)', style='background-color: #' + c.color)
            span= c.name
      else
        div No collections exist.
      a(class='add', onclick='return addCollection()', href='collections/add')
        span +
    h3 Modules
    div(id='modules')
      if modules
        for m in modules
          a(href='modules/'+m.name, onclick='return editModule(this)', style='background-color: #' + m.color)
            span= m.name
      else
        div No modules exist.
      a(class='add', onclick='return addModule()', href='modules/add')
        span +
    a(class='button', href='/logout') Logout