extends layout
block content
  aside
    img(src=avatar + '?s=200')
    h2
      span= username
      if name
        span= ' (' + name + ')'
    if company
      p= 'Company: ' + company
    if location
      p= 'Location: ' + location
    if url
      p
        span URL: 
        a(href=url, target='_blank')= url
  article
    h3 Collections
    div(id='collections')
      if collections
        for c in collections
          a(data-id=c.id, data-color=c.color, data-name=c.name, href='collections/'+c.name, onclick='return editCollection(this)', style='background-color: #' + c.color)
            span= c.name
      else
        div No collections exist.
      a(class='add', onclick='return addCollection()', href='collections/add')
        span +
    h3 Modules
    p
      if modules
        for module in modules
          div
            a(href='modules/' + module.id)
      else
        div No modules exist.
      form(action='modules', method='post')!= add_module_form
    h3 Repositories
    p
      for repo in repos
        div
          a(href=repo.url)= repo.url
    a(class='button', href='/logout') Logout