extends layout
block content
  h1= username + ' (' + name + ')'
  if company
    p= 'Company: ' + company
  if location
    p= 'Location: ' + location
  if url
    p
      span URL: 
      a(href=url, target='_blank')= url
  img(height=250, width=250, src=avatar)
  h1 Collections
  p
    if collections
      for collection in collections
        div
          a(href='collections/' + collection.id)
    else
      div No collections exist.
      form(action='collections', method='post')!= add_collection_form
  h1 Modules
  p
    if modules
      for module in modules
        div
          a(href='modules/' + module.id)
    else
      div No modules exist.
      form(action='modules', method='post')!= add_module_form
  h1 Repositories
  p
    for repo in repos
      div
        a(href=repo.url)= repo.url
  p Logged in via github
  a(href='/logout') Logout