extends layout
block content
  aside
    h2
      span= username
      if name
        span= ' (' + name + ')'
    img(class='image', src=avatar + '?s=500')
    ul
      if company
        li
          img(class='icon', src='/images/company.svg')
          span(class='label')= company
      if location
        li
          img(class='icon', src='/images/location.svg')
          span(class='label')= location
      if email
        li
          img(class='icon', src='/images/email.svg')
          a(class='label', href='mailto:'+email)= email
      if website
        li
          img(class='icon', src='/images/website.svg')
          a(class='label', href=url, target='_blank')= website
  article
    h3 Accounts
    div(id='accounts')
      if accounts
        for a in accounts
          a(href='https://github.com/'+a.login, target='_blank')
            img(height=16, src='/images/github-account.svg')
            span= a.login
      else
        div No accounts exist.
      a(class='add', onclick='return addAccount()', href='accounts/add')
        span +
    h3 Collections
    div(id='collections')
      if collections
        for c in collections
          a(data-id=c.id, data-color=c.color, data-name=c.name, href='collections/'+c.name, style='border: 2px #' + c.color + ' solid; background-image: url(https://crystal-alpha.s3.amazonaws.com/collections/' + c.id + '.svg)')
      else
        div No collections exist.
      a(class='add', onclick='return addCollection()', href='collections/add')
        span +
    h3 Modules
    div(id='modules')
      if modules
        for m in modules
          a(href='modules/'+m.name, onclick='return editModule(this)', style='background-color: #' + m.color)
            span= m.name
      else
        div No modules exist.
      a(class='add', onclick='return addModule()', href='modules/add')
        span +
    a(class='button', href='/logout') Logout